<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>

    <time
      class="mb-1 text-sm font-normal leading-none text-purple-200 dark:text-gray-500"
      >Junio 2024 - Diciembre 2024</time
    >
    <h3 class="text-lg font-semibold text-light-dark dark:text-white text-blue-400">
      Analista de Automatización (Práctica Profesional) TELERED
    </h3>
    <ul
      class="list-disc pl-6 text-base font-normal text-purple-200 dark:text-gray-400"
    >
      <li>
        Colaboré en el diseño y desarrollo de workflows personalizados
        utilizando PowerApps y Power Automate, integrando diversos servicios de
        la empresa para optimizar procesos internos.
      </li>
      <li>
        Contribuí a la creación de aplicaciones en PowerApps, facilitando a los
        usuarios la interacción eficiente con datos alojados en listas de
        SharePoint y mejorando la productividad.
      </li>
      <li>
        Formé parte de un equipo que implementó un proyecto de automatización
        robótica de procesos (RPA), desarrollando soluciones escalables y de
        alto impacto.
      </li>
      <li>
        Participé activamente en la gestión y análisis de requerimientos de
        diversas áreas, asegurando la entrega de soluciones alineadas con las
        necesidades del negocio.
      </li>
    </ul>
  </li>
</ol>
