<header
  class=" flex justify-center items-center px-5 py-5 text-grey z-50"
>
  <nav class="flex flex-row gap-x-10 opacity-85">
    <a href="/" class="hover:text-gray-400 transition">Inicio</a>
    <a href="#Sobre mí" class="hover:text-gray-400 transition">Sobre mí</a>
    <a href="#Proyectos" class="hover:text-gray-400 transition">Mis Proyectos</a>
    <a href="#Experiencia" class="hover:text-gray-400 transition">Experiencia</a>
  </nav>
</header>
